<div class="table-scroll table-hover">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">contacts</th>
      <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts">
      <td (click)="selectContact(contact)">
        <div class="username">
          {{contact.username}}
        </div>
      </td>
      <td>
        <div class="status">
          <span class="badge badge-pill badge-{{getContactBadge(contact)}}">{{getContactStatusLabel(contact)}}</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
