<form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="form-group">
    <input
      type="text"
      class="form-control input-sm col-xs-3"
      placeholder="username"
      id="username"
      formControlName="username"
    >
    <button type="submit" class="btn btn-outline-dark search-button">Search</button>
  </div>
</form>

<div class="table-scroll" *ngIf="showSearchResult">
  <table class="table table-sm scroll">
    <thead>
    <tr>
      <th scope="col">search result</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of searchResult">
      <td>
          {{contact.username}}
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-primary btn-xs"
          (click)="addContact(contact)"
        >+</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
