<div class="container">
  <div class="card">
    <div class="card-header">
      Chat
    </div>
    <div class="card scroll">
      <ul class="list-group" *ngFor="let message of chatContent.messages">
        <li class="list-group-item right-item" *ngIf="messageOwner(message)">
          <p class="message-to" *ngIf="!messageOwner(message)">From: {{message.from}},</p>
          {{message.message}}
          <p class="message-to" *ngIf="showToLabel(message)">To: {{message.to}}, </p>
        </li>
        <li class="list-group-item left-item" *ngIf="!messageOwner(message)">
          <p class="message-to" *ngIf="!messageOwner(message)">From: {{message.from}},</p>
          {{message.message}}
          <p class="message-to" *ngIf="!showToLabel(message)">To: {{message.to}}, </p>
        </li>
      </ul>
    </div>
    <div class="card-header">
      <form [formGroup]="messageForm" (submit)="sendMessage()">
        <div class="form-group">
        <textarea name="message"
                  class="form-control form-rounded"
                  rows="3"
                  formControlName="message"
        ></textarea>
          <button type="submit" class="btn btn-dark">send</button>
        </div>
      </form>
    </div>
  </div>
</div>

