<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="" class="navbar-brand"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> MyChat</a>
    </div>
    <ul class="navbar-nav">
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a routerLink="/registration" class="nav-link">Sign up</a>
      </li>
      <li>
        <a routerLink="/login" class="nav-link">Sign in</a>
      </li>
      <li>
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>
