<form [formGroup]="userForm">
  <div style="margin-bottom: 20px;">
    <input type="text" formControlName="fromId" name="fromId" placeholder="your name">
    <input type="submit" [disabled]="userForm.invalid"
           value="active connection">
  </div>
  <input type="text" formControlName="to" name="to" placeholder="send to">
</form>
<form [formGroup]="messageForm">
  <p>Message: </p>
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" [disabled]="messageForm.invalid || userForm.invalid" value="send">
</form>
<ul>
  <li *ngFor="let message of messages">From: {{message.from}}, To: {{message.to}}, Message: {{message.message}}</li>
</ul>
