<div class="table-scroll table-hover">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">contacts</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts">
      <td (click)="selectContact(contact)">
        {{contact.username}}
      </td>
      <td>
          <span class="badge badge-pill badge-{{getContactBadge(contact)}} ml-5">
            {{getContactStatusLabel(contact)}}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
